{{ pseudo }}<br />
{{ first_name }} {{last_name}}<br />
<br />
Niveau {{ lvl }}<br />
{{ actual_xp }}/{{ total_xp }} px<br />
<button id="logoutbtn" class="btn btn-info pull-right"><i class="glyphicon glyphicon-log-out"></i> D&eacute;connexion</button>
